Options -MultiViews
RewriteEngine On
DirectoryIndex index.html index.htm index.php

# Redirect //. to //www.
#	RewriteCond %{HTTP_HOST} !^www\. [NC]
#	RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect http://. to https://.
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
